body{
    font-family: 'Source Serif 4', sans-serif;
    font-size: 20px;
}
.intro{
    display: flex;
    margin: 5%;
    padding: 2%;
}
.intro span{
    color: orange;
}


.intro h1{
    font-size: 45px;
    font-weight: 900;
}
.intro img{
    height: 600px;
    width: 600px;

}
.button{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(tomato, salmon)
}
.detail{
    width: 50%;
}